@charset "UTF-8";
/*
 * Basic scss file with some comments
 */

@import "vendor";

// Wrong path commented
// @import "dont_exists";

@import "components/filename_test_1",

/*
@import 
    "components/filename_test_1",
    "components/_filename_test_2";

    */

/*@import  "components/filename_test_3.scss",
 * "components/_filename_test_4.scss";
 *
*/

// sdsd
@import "components/../empty";


/*
 * Full Foundation components import for development process
 * 
 * WARNING: Do not use this full import when passing to production, 
 * instead select all needed component one by one
 */
@import "foundation";
/*
 * All foundation components, one by one
*/
/*
@import
  "foundation/components/accordion",
  "foundation/components/alert-boxes",
  "foundation/components/block-grid",
  "foundation/components/breadcrumbs",
  "foundation/components/button-groups",
  "foundation/components/buttons",
  "foundation/components/clearing",
  "foundation/components/dropdown",
  "foundation/components/dropdown-buttons",
  "foundation/components/flex-video",
  "foundation/components/forms",
  "foundation/components/grid",
  "foundation/components/inline-lists",
  "foundation/components/joyride",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/magellan",
  "foundation/components/orbit",
  "foundation/components/pagination",
  "foundation/components/panels",
  "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/reveal",
  "foundation/components/side-nav",
  "foundation/components/split-buttons",
  "foundation/components/sub-nav",
  "foundation/components/switches",
  "foundation/components/tables",
  "foundation/components/tabs",
  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/top-bar",
  "foundation/components/type",
  "foundation/components/offcanvas",
  "foundation/components/visibility";
*/

/*
 * Bourbon library to have some useful mixins
 */
@import "bourbon";

/* 
 * Deprecations about Compass mixins and functions
 */
@import "utils/deprecations";

/* 
 * Used components
 */

@import "utils/mixins";
@import "components/icomoon";

@import "addons/fullstack";

@import "vendor/cookie_law";
//@import "vendor/magnific-popup";
//@import "vendor/mmenu_load";
//@import "vendor/pikaday";
//@import "vendor/royalSlider";
@import "vendor/slick";
@import "vendor/slick-theme";

@import "components/header";
@import "components/footer";
//@import "components/cms";
//@import "components/porticus";
//@import "components/socialaggregator";
//@import "components/zinnia";

#body_content{
    @import "components/contents";
}

/*
 * Sometime, you need fallback hacks for some specific browsers, it should allways be 
 * at the end to be able to override every others components
 */
@import "utils/browser_fallbacks";
